.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(234, 234, 234, 0.7);
  backdrop-filter: blur(3px);
}

/* common properties */
.modal {
  position: fixed;
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(
    -50%,
    -50%
  ); /* Center both horizontally and vertically */
  z-index: 100;
  border-radius: 3px;
  background: var(--color-white);
  padding: 1rem;
  transition: 0.3s;
  border-radius: 0.75rem;
  height: inherit;
  box-shadow: 0px 3px 2px rgb(158, 158, 158, 0.8);
}

.modalHalf {
  width: 800px;
}

.modalFull {
  width: 1200px;
}

.modalMedium {
  width: 800px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px;
  .headerTitle {
    color: var(--color-primary);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3em;
  }
}

.content {
  height: inherit;
}

.actions {
  display: flex;
  justify-content: end;
}

@media (max-width: 600px) {
  .modalHalf {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .modalMedium {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .modalFull {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .header {
    .headerTitle {
      font-size: 20px;
      font-weight: 700;
      line-height: 1em;
    }
  }
}

.oneButtonContainer {
  grid-template-columns: 100%;
}
